In [404]:
import numpy as np 
import pandas as pd 
from sklearn.preprocessing import LabelEncoder, Normalizer
from sklearn.preprocessing import StandardScaler
import statsmodels.formula.api as sm
from sklearn.model_selection import train_test_split
from sklearn import datasets, linear_model, metrics 
import os
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn import tree

In [405]:
train = train = pd.read_csv("C:/Users/spandan/Desktop/Aliens_Dataset_v1/Aliens_Dataset_v1/train4.csv")
test = pd.read_csv("C:/Users/spandan/Desktop/Aliens_Dataset_v1/Aliens_Dataset_v1/test3.csv")

In [406]:
# train = train.drop(columns = 'helpful_votes', axis = 1)
# test = test.drop(columns = 'helpful_votes', axis = 1)
train = train.drop(columns = 'Unnamed: 0', axis = 1)
test = test.drop(columns = 'Unnamed: 0', axis = 1)

In [407]:
test.head()

,earthling_country,total_reviews,hotel_reviews,helpful_votes,period_of_stay,earthling_type,swimming_pool,exercise_room,basketball_court,yoga_classes,club,free_wifi,hotel_name,hotel_stars,number_of_rooms,earthling_continent,mars_membership_years,review_month,review_weekday
0,Canada,36,30,80,Mar-May,Families,YES,YES,NO,YES,YES,YES,Welcome to mars,5,3025,North America,8,March,Friday
1,UK,28,12,30,Jun-Aug,Couples,YES,YES,NO,YES,YES,YES,Red Planet,5,2034,Europe,2,June,Saturday
2,USA,17,10,18,Mar-May,Couples,YES,YES,NO,YES,YES,YES,Mars forever,4,826,North America,3,May,Tuesday
3,Croatia,29,11,14,Dec-Feb,Business,YES,YES,YES,YES,YES,YES,Nasty And Naughty,4,2884,Europe,6,January,Sunday
4,USA,28,17,14,Sep-Nov,Solo,YES,YES,NO,YES,YES,YES,Helloooo Mars,3,1228,North America,2,September,Wednesday

In [408]:
train_y = train['score']
train_y = np.array(train_y)
train = train.drop(columns = 'score')
test.head()

,earthling_country,total_reviews,hotel_reviews,helpful_votes,period_of_stay,earthling_type,swimming_pool,exercise_room,basketball_court,yoga_classes,club,free_wifi,hotel_name,hotel_stars,number_of_rooms,earthling_continent,mars_membership_years,review_month,review_weekday
0,Canada,36,30,80,Mar-May,Families,YES,YES,NO,YES,YES,YES,Welcome to mars,5,3025,North America,8,March,Friday
1,UK,28,12,30,Jun-Aug,Couples,YES,YES,NO,YES,YES,YES,Red Planet,5,2034,Europe,2,June,Saturday
2,USA,17,10,18,Mar-May,Couples,YES,YES,NO,YES,YES,YES,Mars forever,4,826,North America,3,May,Tuesday
3,Croatia,29,11,14,Dec-Feb,Business,YES,YES,YES,YES,YES,YES,Nasty And Naughty,4,2884,Europe,6,January,Sunday
4,USA,28,17,14,Sep-Nov,Solo,YES,YES,NO,YES,YES,YES,Helloooo Mars,3,1228,North America,2,September,Wednesday

In [409]:
labelencoder = LabelEncoder()
train["swimming_pool"] = labelencoder.fit_transform(train["swimming_pool"])
train["exercise_room"] = labelencoder.fit_transform(train["exercise_room"])
train["basketball_court"] = labelencoder.fit_transform(train["basketball_court"])
train["yoga_classes"] = labelencoder.fit_transform(train["yoga_classes"])
train["club"] = labelencoder.fit_transform(train["club"])
train["free_wifi"] = labelencoder.fit_transform(train["free_wifi"])

test["swimming_pool"] = labelencoder.fit_transform(test["swimming_pool"])
test["exercise_room"] = labelencoder.fit_transform(test["exercise_room"])
test["basketball_court"] = labelencoder.fit_transform(test["basketball_court"])
test["yoga_classes"] = labelencoder.fit_transform(test["yoga_classes"])
test["club"] = labelencoder.fit_transform(test["club"])
test["free_wifi"] = labelencoder.fit_transform(test["free_wifi"])

In [410]:
print(train.shape)
print(test.shape)

(418, 19)
(182, 19)

In [411]:
# train = pd.get_dummies(train, dummy_na = True, drop_first = True)
# test = pd.get_dummies(test, dummy_na = True, drop_first = True)
# print(train.shape)
# print(test.shape)
train['lab'] = 0
test['lab'] = 1
concat_df = pd.concat([train, test])
features = pd.get_dummies(concat_df, dummy_na = True, drop_first = True)
train_x = features[features['lab'] == 0]
test_x = features[features['lab'] == 1]
train_x = train_x.drop('lab', axis=1)
test_x = test_x.drop('lab', axis=1)
print(train_x.shape)
print(test_x.shape)

(418, 115)
(182, 115)

In [412]:
train_x.head()

,total_reviews,hotel_reviews,helpful_votes,swimming_pool,exercise_room,basketball_court,yoga_classes,club,free_wifi,hotel_stars,...,review_month_October,review_month_September,review_month_nan,review_weekday_Monday,review_weekday_Saturday,review_weekday_Sunday,review_weekday_Thursday,review_weekday_Tuesday,review_weekday_Wednesday,review_weekday_nan
0,31,8,27,0,1,0,0,1,1,3,...,0,0,0,0,0,0,0,1,0,0
1,31,8,11,1,1,1,1,1,1,4,...,0,0,0,0,0,1,0,0,0,0
2,6,0,4,1,1,0,1,1,1,3,...,0,0,0,0,0,1,0,0,0,0
3,8,8,9,0,1,0,0,1,1,3,...,0,1,0,0,0,0,0,0,1,0
4,9,8,1,1,1,0,1,1,1,4,...,0,0,0,1,0,0,0,0,0,0

In [413]:
# test.head()
train_x.columns.get_loc("mars_membership_years")

11

In [414]:
# train_x_opt = train[:, np.r_[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 15, 20:80, 95:100]]
# test_x = test[:, np.r_[0, 2, 3, 5, 6, 8, 10, 11, 13:18]]

In [415]:
training, val_x, pred, val_y = train_test_split(calculate_vif_(train_x), train_y, test_size = 0.2, random_state = 2000)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114]

C:\Users\spandan\Anaconda3\lib\site-packages\statsmodels\stats\outliers_influence.py:181: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)
C:\Users\spandan\Anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1543: RuntimeWarning: invalid value encountered in double_scalars
  return 1 - self.ssr/self.centered_tss

dropping 'swimming_pool' at index: 3
dropping 'exercise_room' at index: 3
dropping 'basketball_court' at index: 3
dropping 'yoga_classes' at index: 3
dropping 'club' at index: 3
dropping 'free_wifi' at index: 3
dropping 'number_of_rooms' at index: 4
dropping 'earthling_country_Belgium' at index: 5
dropping 'earthling_country_Brazil' at index: 5
dropping 'earthling_country_Canada' at index: 5
dropping 'earthling_country_India' at index: 18
dropping 'period_of_stay_Jun-Aug' at index: 49
dropping 'period_of_stay_Sep-Nov' at index: 50
dropping 'earthling_continent_North America' at index: 79

C:\Users\spandan\Anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1545: RuntimeWarning: invalid value encountered in double_scalars
  return 1 - self.ssr/self.uncentered_tss

dropping 'earthling_continent_Europe' at index: 78
dropping 'hotel_stars' at index: 3
dropping 'period_of_stay_Mar-May' at index: 48
dropping 'helpful_votes' at index: 2
dropping 'earthling_continent_Asia' at index: 74
dropping 'mars_membership_years' at index: 2
dropping 'earthling_type_Couples' at index: 47
new train head:
Remaining variables:
Index(['total_reviews', 'hotel_reviews', 'earthling_country_China',
       'earthling_country_Costa Rica', 'earthling_country_Croatia',
       'earthling_country_Czech Republic', 'earthling_country_Denmark',
       'earthling_country_Egypt', 'earthling_country_Finland',
       'earthling_country_France', 'earthling_country_Germany',
       'earthling_country_Greece', 'earthling_country_Hawaii',
       'earthling_country_Honduras', 'earthling_country_Hungary',
       'earthling_country_India ', 'earthling_country_Iran',
       'earthling_country_Ireland', 'earthling_country_Israel',
       'earthling_country_Italy', 'earthling_country_Japan',
       'earthling_country_Jordan', 'earthling_country_Kenya',
       'earthling_country_Korea', 'earthling_country_Kuwait',
       'earthling_country_Malaysia', 'earthling_country_Mexico',
       'earthling_country_Netherlands', 'earthling_country_New Zeland',
       'earthling_country_Norway', 'earthling_country_Phillippines',
       'earthling_country_Puerto Rico', 'earthling_country_Saudi Arabia',
       'earthling_country_Scotland', 'earthling_country_Singapore',
       'earthling_country_South Africa', 'earthling_country_Spain',
       'earthling_country_Swiss', 'earthling_country_Switzerland',
       'earthling_country_Syria', 'earthling_country_Taiwan',
       'earthling_country_Thailand', 'earthling_country_UK',
       'earthling_country_USA', 'earthling_country_United Arab Emirates',
       'earthling_country_nan', 'period_of_stay_nan',
       'earthling_type_Families', 'earthling_type_Friends',
       'earthling_type_Solo', 'earthling_type_nan', 'hotel_name_Chotu Mars',
       'hotel_name_Do u know mars?', 'hotel_name_Funky Mars',
       'hotel_name_Grand Red Spot', 'hotel_name_Greatest mars hotel',
       'hotel_name_Helloooo Mars', 'hotel_name_Hotel Mars Rover',
       'hotel_name_Junky Jack Mars', 'hotel_name_Lal rang zindabad',
       'hotel_name_Mars and Mars', 'hotel_name_Mars forever', 'hotel_name_MnM',
       'hotel_name_Nasty And Naughty', 'hotel_name_Red Mars',
       'hotel_name_Red Planet', 'hotel_name_Super hot mars',
       'hotel_name_Swaagyyy Mars', 'hotel_name_The great Mars desert',
       'hotel_name_The great mars hotel', 'hotel_name_Welcome to mars',
       'hotel_name_nan', 'earthling_continent_Oceania',
       'earthling_continent_South America', 'earthling_continent_nan',
       'review_month_August', 'review_month_December', 'review_month_February',
       'review_month_January', 'review_month_July', 'review_month_June',
       'review_month_March', 'review_month_May', 'review_month_November',
       'review_month_October', 'review_month_September', 'review_month_nan',
       'review_weekday_Monday', 'review_weekday_Saturday',
       'review_weekday_Sunday', 'review_weekday_Thursday',
       'review_weekday_Tuesday', 'review_weekday_Wednesday',
       'review_weekday_nan'],
      dtype='object')

In [416]:

sc = StandardScaler()
training = sc.fit_transform(training)
val_x = sc.fit_transform(val_x)
training = np.array(training)
val_x = np.array(val_x)

In [463]:
# pca = PCA(.95)
# pca.fit(training)
# training = pca.transform(training)
# val_x = pca.transform(val_x)
model = RandomForestClassifier(max_features='auto', max_leaf_nodes=None,
            n_estimators=900, n_jobs=1,
            oob_score=True, random_state=None, verbose=0)
model.fit(training, pred)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=900, n_jobs=1,
            oob_score=True, random_state=None, verbose=0, warm_start=False)

In [464]:
predictions = model.predict(val_x)
err = abs(predictions-val_y)
print(round(np.mean(err), 2), "degrees")
mean_p = 100*(err/val_y)
acc = 100 - np.mean(mean_p)
print("Accuracy: ", round(acc, 2), "%")

0.43 degrees
Accuracy:  85.1 %

In [465]:
tr = tree.DecisionTreeClassifier(random_state = None, max_depth = 2)
tr.fit(training, pred)
predictions = model.predict(val_x)
err = abs(predictions-val_y)
print(round(np.mean(err), 2), "degrees")
mean_p = 100*(err/val_y)
acc = 100 - np.mean(mean_p)
print("Accuracy: ", round(acc, 2), "%")

0.43 degrees
Accuracy:  85.1 %

In [486]:
from sklearn.svm import SVC  
svclassifier = SVC(kernel='linear')  
svclassifier.fit(training, pred) 
predictions = svclassifier.predict(val_x)
print((predictions))
err = abs(predictions - val_y)
print(round(np.mean(err), 2), "degrees")
mean_p = 100*(err/val_y)
acc = 100 - np.mean(mean_p)
print("Accuracy: ", round(acc, 2), "%")

[5 4 1 5 4 5 5 5 4 1 5 3 1 4 5 5 4 4 4 3 5 5 5 3 3 5 2 5 5 5 4 3 5 5 4 4 5
 3 4 3 2 4 5 4 5 1 5 5 5 4 4 1 5 5 5 5 5 4 4 5 4 4 5 4 5 5 4 4 5 5 5 4 2 4
 5 5 4 3 4 5 3 5 3 4]
0.8 degrees
Accuracy:  78.67 %

In [421]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(training, pred)

# predicting the test set result
predictions = classifier.predict(val_x)
# prediction = pd.DataFrame(predictions, columns = ['score']).to_csv("C:/Users/spandan/Desktop/Aliens_Dataset_v1/Aliens_Dataset_v1/submission9.csv", index = False)
print(predictions)
err = abs(predictions - val_y)
print(round(np.mean(err), 2), "degrees")
mean_p = 100*(err/val_y)
acc = 100 - np.mean(mean_p)
print("Accuracy: ", round(acc, 2), "%")

[5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 3 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 3 5 5 5 5 5 5 5
 3 5 5 5 5 5 5 5 5 5]
0.8 degrees
Accuracy:  70.65 %

In [32]:
from sklearn.grid_search import GridSearchCV
from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestClassifier
# Build a classification task using 3 informative features
X, y = make_classification(n_samples=1000,
                           n_features=105,
                           n_informative=10,
                           n_redundant=0,
                           n_repeated=0,
                           n_classes=5,
                           random_state=0,
                           shuffle=False)


rfc = RandomForestClassifier(n_jobs=-1, max_features= 'sqrt' , n_estimators=500, oob_score = True) 

param_grid = { 
    'n_estimators': [200, 400, 300, 500, 1000],
    'max_features': ['auto', 'sqrt', 'log2']
}

CV_rfc = GridSearchCV(estimator=rfc, param_grid=param_grid, cv= 5)
CV_rfc.fit(X, y)
print (CV_rfc.best_params_)

{'n_estimators': 300, 'max_features': 'auto'}

In [20]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import make_scorer, accuracy_score
from sklearn.model_selection import GridSearchCV
clf = RandomForestClassifier()

parameters = {'n_estimators': [2, 3, 4, 5], 
              'max_features': ['log2', 'sqrt','auto'], 
              'criterion': ['entropy', 'gini'],
              'max_depth': [2, 3, 5, 10, 15], 
              'min_samples_split': [2, 3, 5],
              'min_samples_leaf': [1,2,5,8]
             }


acc_scorer = make_scorer(accuracy_score)

grid_obj = GridSearchCV(clf, parameters, scoring=acc_scorer)
grid_obj = grid_obj.fit(training, pred)

clf = grid_obj.best_estimator_

In [21]:
print(clf)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=15, max_features='sqrt', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=5,
            min_weight_fraction_leaf=0.0, n_estimators=4, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [13]:
from statsmodels.stats.outliers_influence import variance_inflation_factor    
variables = []
def calculate_vif_(X, thresh=4.0):
    variables = list(range(X.shape[1]))
    print(variables)
    dropped = True
    while dropped:
        dropped = False
        vif = [variance_inflation_factor(X.iloc[:, variables].values, ix)
               for ix in range(X.iloc[:, variables].shape[1])]

        maxloc = vif.index(max(vif))
        if max(vif) > thresh:
            print('dropping \'' + X.iloc[:, variables].columns[maxloc] +
                  '\' at index: ' + str(maxloc))
         
#             X = X.drop(X.columns[maxloc])
            del variables[maxloc]
            dropped = True
    
    new_train = X.iloc[:, variables] 
    print("new train head: ")
    new_train.head()

    print('Remaining variables:')
    print(X.columns[variables])
    return new_train


# new_train = train_x.iloc[:,variables]
# print("Newtrain: ")
# new_train.head()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114]

C:\Users\spandan\Anaconda3\lib\site-packages\statsmodels\stats\outliers_influence.py:181: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)
C:\Users\spandan\Anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1543: RuntimeWarning: invalid value encountered in double_scalars
  return 1 - self.ssr/self.centered_tss

dropping 'swimming_pool' at index: 3
dropping 'exercise_room' at index: 3
dropping 'basketball_court' at index: 3
dropping 'yoga_classes' at index: 3
dropping 'club' at index: 3
dropping 'free_wifi' at index: 3
dropping 'number_of_rooms' at index: 4
dropping 'earthling_country_Belgium' at index: 5
dropping 'earthling_country_Brazil' at index: 5
dropping 'earthling_country_Canada' at index: 5
dropping 'earthling_country_India' at index: 18
dropping 'period_of_stay_Jun-Aug' at index: 49
dropping 'period_of_stay_Sep-Nov' at index: 50
dropping 'earthling_continent_North America' at index: 79

C:\Users\spandan\Anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1545: RuntimeWarning: invalid value encountered in double_scalars
  return 1 - self.ssr/self.uncentered_tss

dropping 'earthling_continent_Europe' at index: 78
dropping 'hotel_stars' at index: 3
dropping 'period_of_stay_Mar-May' at index: 48
dropping 'helpful_votes' at index: 2
dropping 'earthling_continent_Asia' at index: 74
dropping 'mars_membership_years' at index: 2
dropping 'earthling_type_Couples' at index: 47
new train head:
Remaining variables:
Index(['total_reviews', 'hotel_reviews', 'earthling_country_China',
       'earthling_country_Costa Rica', 'earthling_country_Croatia',
       'earthling_country_Czech Republic', 'earthling_country_Denmark',
       'earthling_country_Egypt', 'earthling_country_Finland',
       'earthling_country_France', 'earthling_country_Germany',
       'earthling_country_Greece', 'earthling_country_Hawaii',
       'earthling_country_Honduras', 'earthling_country_Hungary',
       'earthling_country_India ', 'earthling_country_Iran',
       'earthling_country_Ireland', 'earthling_country_Israel',
       'earthling_country_Italy', 'earthling_country_Japan',
       'earthling_country_Jordan', 'earthling_country_Kenya',
       'earthling_country_Korea', 'earthling_country_Kuwait',
       'earthling_country_Malaysia', 'earthling_country_Mexico',
       'earthling_country_Netherlands', 'earthling_country_New Zeland',
       'earthling_country_Norway', 'earthling_country_Phillippines',
       'earthling_country_Puerto Rico', 'earthling_country_Saudi Arabia',
       'earthling_country_Scotland', 'earthling_country_Singapore',
       'earthling_country_South Africa', 'earthling_country_Spain',
       'earthling_country_Swiss', 'earthling_country_Switzerland',
       'earthling_country_Syria', 'earthling_country_Taiwan',
       'earthling_country_Thailand', 'earthling_country_UK',
       'earthling_country_USA', 'earthling_country_United Arab Emirates',
       'earthling_country_nan', 'period_of_stay_nan',
       'earthling_type_Families', 'earthling_type_Friends',
       'earthling_type_Solo', 'earthling_type_nan', 'hotel_name_Chotu Mars',
       'hotel_name_Do u know mars?', 'hotel_name_Funky Mars',
       'hotel_name_Grand Red Spot', 'hotel_name_Greatest mars hotel',
       'hotel_name_Helloooo Mars', 'hotel_name_Hotel Mars Rover',
       'hotel_name_Junky Jack Mars', 'hotel_name_Lal rang zindabad',
       'hotel_name_Mars and Mars', 'hotel_name_Mars forever', 'hotel_name_MnM',
       'hotel_name_Nasty And Naughty', 'hotel_name_Red Mars',
       'hotel_name_Red Planet', 'hotel_name_Super hot mars',
       'hotel_name_Swaagyyy Mars', 'hotel_name_The great Mars desert',
       'hotel_name_The great mars hotel', 'hotel_name_Welcome to mars',
       'hotel_name_nan', 'earthling_continent_Oceania',
       'earthling_continent_South America', 'earthling_continent_nan',
       'review_month_August', 'review_month_December', 'review_month_February',
       'review_month_January', 'review_month_July', 'review_month_June',
       'review_month_March', 'review_month_May', 'review_month_November',
       'review_month_October', 'review_month_September', 'review_month_nan',
       'review_weekday_Monday', 'review_weekday_Saturday',
       'review_weekday_Sunday', 'review_weekday_Thursday',
       'review_weekday_Tuesday', 'review_weekday_Wednesday',
       'review_weekday_nan'],
      dtype='object')

,total_reviews,hotel_reviews,earthling_country_China,earthling_country_Costa Rica,earthling_country_Croatia,earthling_country_Czech Republic,earthling_country_Denmark,earthling_country_Egypt,earthling_country_Finland,earthling_country_France,...,review_month_October,review_month_September,review_month_nan,review_weekday_Monday,review_weekday_Saturday,review_weekday_Sunday,review_weekday_Thursday,review_weekday_Tuesday,review_weekday_Wednesday,review_weekday_nan
0,31,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,31,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,8,8,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,9,8,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
5,8,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6,14,7,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,106,37,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
8,106,37,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9,93,4,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
10,10,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,8,7,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
12,275,79,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
13,275,79,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
14,46,12,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
15,8,7,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
16,26,7,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
17,26,7,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
18,48,8,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
19,30,12,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
21,19,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
22,13,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
23,6,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
24,3,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
25,85,37,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
26,10,6,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
27,22,6,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
28,66,33,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
29,164,48,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,92,49,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
389,92,49,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
390,19,7,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
391,39,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
392,92,12,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
393,92,12,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
394,4,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
395,4,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
396,17,17,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
397,17,15,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
398,102,17,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
399,13,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
400,18,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
401,56,7,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
402,7,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
403,4,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
404,18,9,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
405,18,9,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
406,10,6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
407,30,12,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
408,161,33,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
409,20,19,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
410,10,5,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
411,37,7,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
412,56,14,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
413,130,41,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
414,7,5,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
415,55,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
416,41,9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
417,19,9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [156]:
new_train.head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [489]:

from sklearn.linear_model import LogisticRegression

# Make an instance of the Model
# pca = PCA(.97)
# pca.fit(training)
# tra = pca.transform(training)
# val = pca.transform(val_x)

logisticRegr = LogisticRegression(solver = 'lbfgs', multi_class = 'multinomial', random_state = None)
logisticRegr.fit(training, pred)
predic = logisticRegr.predict(val_x)
print(predic)
err = abs(predic - val_y)
print(round(np.mean(err), 2), "degrees")
mean_p = 100*(err/val_y)
acc = 100 - np.mean(mean_p)
print("Accuracy: ", round(acc, 2), "%")

[5 4 1 5 4 5 5 5 4 5 5 3 4 4 5 5 4 4 5 3 5 5 5 3 3 5 2 4 5 5 4 4 5 4 4 5 5
 3 4 3 2 4 5 4 4 4 5 5 5 1 4 5 5 5 5 5 5 4 4 5 4 4 5 5 5 5 4 5 4 4 5 4 5 5
 3 5 4 4 3 5 3 5 3 4]
0.67 degrees
Accuracy:  81.27 %